.MarketDashboard {
    color: #fff;
    background-color: #515467;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    width: 90%;
    margin: 10px;
}

.dashboard-subheading {
    text-align: left;
    padding: 0 20px;
    margin: 0;
}

.sell-tab, .buy-tab {
    /* background-color: #EBCA7B; */
    padding-bottom: 10px;
}

.sell-tab__heading, .buy-tab__heading {
    color: #fff;
    margin: 0;
    padding: 20px 0 0 0;
}

.sell-items, .buy-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 95%;
    margin: 10px auto;  
}

.buy-item, .sell-item {
    width: 30%;
    height: 80px;
    margin: 5px;
    background-color: #CAD6E3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    color: #545454;
    border-radius: 10px;
} 

.buy-button, .sell-button {
    background-color: transparent;
    border: 2px solid #545454;
    color: #545454;
    font-size: 18px;
    width: 120px;
    margin-left: 0;
    margin: 10px auto;
    transition: 0.2s;
}

.sell-button:hover, .buy-button:hover {
    color: #848484;
    border-color: #848484;
    cursor: pointer;
}

.tab-label {
    background-color: transparent;
    border: 2px solid #EBCA7B;
    color: #EBCA7B;
    font-size: 18px;
    width: 120px;
    margin: 15px 10px 0 10px;
}

.buy-label__true, .sell-label__false {
    background-color: #EBCA7B;
    color: #fff;
}

.tab-label:hover {
    cursor: pointer;
    background-color: #EBCA7B;
    color: #fff;
}
