.App {
  text-align: center;
}

.App h2 {
  font-size: 1.4rem;
}

.App-logo {
  height: 2rem;
  pointer-events: none;
  margin-bottom: -0.4rem;
}

.App-header {
  background-color: #282c34;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
